fieldset {
    border: 0;
}

.error-message {
    color: red;
}

.logout-container {
    text-align: center;
}

h3 {
    margin: 0 auto 5px;
    width: 90%;
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
}