.idea/workspace.xml
deer-vision-backend/target/
deer-vision-backend/database/db-data/
/setup/infrastructure/.terraform/
/setup/infrastructure/terraform.tfstate.d/deervision/.terraform.tfstate.lock.info
