body {
    margin: 0;
    width: 100%;
    background: repeating-linear-gradient(
            -45deg,
            #40404d,
            #40404d 4px,
            #42424f 4px,
            #42424f 8px
    );
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: #ffffff;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
