body {
    margin: 0;
    width: 100%;
    background: linear-gradient(90deg, #e4e5eb 1px, transparent 1%) center, linear-gradient(#e4e5eb 1px, transparent 1%) center, #d7d8de;
    background-size: 2px 2px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
