body {
  margin: 0;
}

.header {
  background-color: #aaaaaa;
  overflow: hidden; /* clear 'li' float: see https://css-tricks.com/all-about-floats/ */
  margin: 0;
  padding: 0;
}

.header .menu, .header .menu-icon {
  list-style-type: none; /* remove bullets */
  margin: 0;
  padding: 0;
}

.header .logo, .header .nav-link, .header .menu-icon {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header .logo {
  float: left;
}

.header li, .header .menu-icon {
  float: right; /* display horizontally */
}

.header li a:hover {
  background-color: #111;
}

@media screen and (max-width: 600px) {
  .header li, .header .menu-icon {
     float: none; /* display vertically */
     display: block;
     text-align: left;
  }
}
