body {
  margin: 0;
}

.header {
  background-color: #aaaaaa;
  overflow: hidden; /* clear float: see https://css-tricks.com/all-about-floats/ */
  margin: 0;
  padding: 0;
}

.menu {
  list-style-type: none; /* remove bullets */
}

.menu, .menu-icon {
  margin: 0;
  padding: 0;
}

.nav-logo, .nav-link, .menu-icon {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-logo {
  float: left;
}

.header li {
  float: right; /* display horizontally */
}

.menu-icon {
  float: right;
  display: none;
}

.header li a:hover {
  background-color: #111;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }

  .header li {
     float: none; /* display vertically */
     display: block;
     text-align: left;
  }

  .nav-left {
    overflow: hidden; /* clear float: see https://css-tricks.com/all-about-floats/ */
  }

  .menu {
    display: none;
  }

  .menu.responsive {
    display: inline;
  }
}
