thead {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000000;
    background-color: #40404d;
    padding-right: 7px;
    padding-left: 7px;
}

th {
    background-color: #50505d;
    color: #ffffff;
    height: 30px;
}

.issues-actions {
    text-align: center;
}

.issues-action {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
}

.popup-hide {
    display: none;
}

.popup-background {
    background: rgba(0, 0, 0, .4);
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.popup-locator {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup {
    background-color: #40404d;
    box-shadow: 5px 5px 10px #202020;
    display: inline-block;
    height: 75%;
    vertical-align: middle;
    width: 80%;
    position: relative;
    padding: 5px 5px;
    overflow: scroll;
    text-align: left;
    font-family: Courier New, serif;
    font-size: 0.8rem;
    border: 1px dotted #909090;
}

.popup-close {
    position: absolute;
    background-color: #50505d;
    padding: 5px;
    top: 13%;
    right: 11%;
    border: 2px solid #808080;
}

@media screen and (max-width: 800px) {
    .secondary-info {
        display: none;
    }

    .popup {
        font-size: 0.6rem;
    }
}


