.btn {
    width: 260px;
    height: 45px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    filter: drop-shadow(0px 1px 3px #777777);
    border: 4px solid #555555;
    color: #555555;
    background-color: #e4e5eb;
    text-decoration: none;
}

.btn::after {
    position: absolute;
    content: "";
    width: 0;
    left: 50%;
    height: 3px;
    background-color: #e4e5eb;
    bottom: 10px;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    color: #e4e5eb;
    background-color: #555555;
}

.btn:hover::after {
    width: 100%;
    left: 0;
}

.btn-text {
    /* animation start */
    transform: translate(0px, -20px);
}

@keyframes btn-text-anim {
    to {
        transform: translate(0px, 0px);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .btn-text-anim-trigger {
        animation: btn-text-anim 1.0s 1;
        animation-fill-mode: forwards; /*leaves the animation in the state of the last frame */
    }
}
