.pres-container {
    overflow: hidden;
}

.pres-text {
    float: left;
    width: 35%;
    max-width: 600px;
}

.pres-text p::first-letter {
    font-weight: bold;
    font-size: 1.3em;
    color: #e37405;
}

.pres-separator {
    float: left;
    width: 10%;
    height: 1px;
}

.pres-logo {
    float: left;
    width: 35%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.pres-logo img {
    filter: drop-shadow(7px 7px 2px #777777);
}

.pres-text a:link,
.pres-text a:visited,
.pres-text a:hover,
.pres-text a:active {
    color: black;
    text-decoration-style: dotted;
}

.pres-text a:hover {
    text-decoration-style: solid;
}

.pres-text p {
    /* animation start */
    opacity: 0.2;
    transform: translate(50px, 0);
}

@keyframes pres-text-p-anim {
    to {
        opacity: 1.0;
        transform: translate(0px, 0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .pres-text-p-anim-trigger {
        animation: pres-text-p-anim 1.5s 1;
        animation-fill-mode: forwards; /*leaves the animation in the state of the last frame */
    }
}

@media screen and (max-width: 800px) {
    .pres-separator {
        width: 2%;
    }

    .pres-text {
        width: 96%;
        max-width: 800px;
    }

    .pres-logo {
        text-align: center;
        width: 100%;
        margin-top: 5px;
    }

    .pres-logo img {
        width: 40%;
        height: auto;
    }
}