h2 {
    margin: 0 auto 10px;
    width: 90%;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    border-top: 4px solid #0089b5;
    border-bottom: 4px solid #0089b5;
}

hr {
    margin-top: 40px;
    border: none;
    background-color: #d5d5dd;
    height: 2px;
    width: 80%;
}

.text-link:link, .text-link:visited, .text-link:hover, .text-link:active {
    color: #0089b5;
    text-decoration-style: solid;
}

.text-link:hover {
    color: #ffffff;
}

.vertical-spacer {
    clear: both;
    height: 30px;
}

.horizontal-spacer {
    float: left;
    width: 10%;
    height: 1px;
}

.sub-title {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 15px;
}

.sub-category {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 8px;
}

@media screen and (max-width: 800px) {
    .horizontal-spacer {
        width: 2%;
    }
}