h2 {
    margin: 40px auto 0;
    width: 90%;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(80, 81, 89, 0.4);
    border-bottom: 2px solid #007499;
    border-top: 2px solid #007499;
}

hr {
    margin-top: 40px;
    border: none;
    background-color: #d5d5dd;
    height: 2px;
    width: 80%;
}

.text-link:link, .text-link:visited, .text-link:hover, .text-link:active {
    color: #007499;
    text-decoration-style: solid;
}

.text-link:hover {
    color: black;
}

.vertical-spacer {
    clear: both;
    height: 30px;
}

.horizontal-spacer {
    float: left;
    width: 10%;
    height: 1px;
}

@media screen and (max-width: 800px) {
    .horizontal-spacer {
        width: 2%;
    }
}