.pres-container {
    display: flex;
    padding-left: 100px;
}

.pres-profile {
    float : left;
    margin-right: 15px;
    margin-bottom: 2px;
}

.pres-description {
    width: 45%;
    max-width: 800px;
}

.pres-logo {
    width: 35%;
    padding: 15px 0 15px 50px;
}

@media screen and (max-width: 800px) {
    .pres-container {
        flex-direction: column;
        padding-left: 5px;
    }

    .pres-description {
        width: 94%;
    }

    .pres-logo {
        padding-left: 0;
        text-align: center;
        width: 100%;
    }

    .pres-logo img {
        width: 40%;
        height: auto;
    }
}
