.pp-container {
    overflow: hidden;
}

.pp-description {
    float: left;
    max-width: 800px;
}

.sub-title {
    left: -2%;
    position: relative;
    font-size: 18px;
    text-decoration: underline overline;
}

.sub-category {
    left: -1%;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
}

.pp-container lu {
    left: 6%;
    position: relative;
}