.game-container {
    padding-left: 100px;
}

.pe-logo {
    margin-top: 20px;
    margin-bottom: 30px;
    filter: saturate(130%);
    position: relative;
    left: -2%;
}

.game-info-container {
    display: flex;
    padding-bottom: 25px;
}

.game-description {
    width: 45%;
    max-width: 800px;
    padding-right: 75px;
}

.game-description > * p {
    padding-top: 10px;
}

.game-soc-container {
    padding-left: 22px;
}

.game-btn-platform {
    margin-top: 20px;
    margin-bottom: 10px;
}

.game-screenshots {
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    align-items: center;
}

.game-screenshot-img {
    height: auto;
    width: 450px;
    border: 2px solid #ffffff;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.game-screenshot-img:hover {
    opacity: 0.5;
}

.modal {
    display: none;
    justify-content: center;
    position: fixed; /* stay in place */
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    width: 80%;
    max-width: 1100px;
    border: 2px solid #ffffff;
    cursor: pointer; /* TODO should be on all body */
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@media screen and (max-width: 800px) {
    .game-container {
        padding-left: 5px;
    }

    .game-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-description {
        padding-right: 0;
    }

    .game-description {
        width: 100%;
    }

    .game-screenshot-img {
        width: calc(100% - 20px);
    }

    .modal-content {
        width: 100%;
    }
}
