.game-container {
    padding-left: 100px;
}

.pe-logo {
    margin-top: 20px;
    margin-bottom: 30px;
    filter: saturate(160%);
    position: relative;
    left: -2%;
    width: 27%;
    height: 27%;
}

.game-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}

.game-description {
    max-width: 800px;
    padding: 5px 18px;
    margin-right: 53px;
    font-size: 1.0rem;
    font-family: "Verdana", sans-serif;
    background-color: #363649;
    border-radius: 10px;
}

.game-description > * p {
    padding-top: 10px;
}

.game-about {
    list-style: none;
}

.game-about li {
    margin-bottom: 0.7em;
}

.game-about li::before {
    content: "\2022";
    color: #0089b5;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    width: 1.0em;
    margin-left: -1.0em;
}

.game-soc-container {
    display: inline-block;
    padding: 5px 18px;
    margin-bottom: 25px;
    background-color: #363649;
    border-radius: 10px;
}

.content-modal {
    display: none;
    justify-content: center;
    position: fixed; /* stay in place */
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
}

.trailer-modal-content {
    margin: auto;
    width: 60%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 2px solid #ffffff;
    border-radius: 10px;
    display: block;
}

.game-screenshots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    padding-bottom: 25px;
}

.game-screenshot {
    width: 31%;
    aspect-ratio: 16 / 9;
    padding: 10px;
}

.game-screenshot-img {
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    cursor: zoom-in;
}

.game-screenshot-img:hover {
    opacity: 0.5;
}

.screenshots-modal-content {
    margin: auto;
    width: 80%;
    max-width: 1100px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    animation-name: img-zoom;
    animation-duration: 0.6s;
}

@keyframes img-zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@media screen and (max-width: 1300px) {
    .game-container {
        padding-left: 5px;
    }

    .game-screenshot {
        width: 46%;
        height: 46%;
    }
}

@media screen and (max-width: 800px) {
    .game-container {
        padding-left: 5px;
    }

    .pe-logo {
        width: 80%;
        height: 80%;
    }

    .game-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-description {
        padding-right: 0;
        padding-left: 5px;
    }

    .game-description {
        width: 100%;
    }

    .trailer-modal-content {
        width: 95%;
    }

    .game-screenshots {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .game-screenshot {
        width: 100%;
        height: 100%;
    }

    .game-screenshot-img {
        cursor: auto;
    }

    .game-screenshot-img:hover {
        opacity: 1.0;
    }

}
