/* Common */
#games, #news, #aboutUs {
    position: relative;
    top: -105px;
}

/* Games */
.game-container {
    overflow: hidden;
}

.game-description {
    float: left;
    width: 35%;
    max-width: 600px;
}

.game-btn-platform {
    float: left;
    width: 35%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.game-screenshots {
    float: left;
    width: 95%;
    max-width: 1100px;
    border: 2px solid #ffffff;
}

@media screen and (max-width: 800px) {
    .game-description {
        width: 94%;
        max-width: 800px;
    }

    .game-btn-platform {
        text-align: center;
        width: 100%;
    }
}

.pe-logo {
    filter: contrast(1.4);
}

/* About Us */
.pres-container {
    overflow: hidden;
}

.pres-description {
    float: left;
    width: 35%;
    max-width: 600px;
}

.pres-logo {
    float: left;
    width: 35%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pres-logo img {
    filter: drop-shadow(7px 7px 2px #202020);
}

@media screen and (max-width: 800px) {
    .pres-description {
        width: 94%;
        max-width: 800px;
    }

    .pres-logo {
        text-align: center;
        width: 100%;
    }

    .pres-logo img {
        width: 40%;
        height: auto;
    }
}

.soc-container {
    text-align: center;
}