.eula-container {
    overflow: hidden;
}

.eula-description {
    float: left;
    max-width: 800px;
}

@media screen and (max-width: 800px) {
    .eula-description {
        width: 94%;
        max-width: 800px;
    }
}