.network-container {
    text-align: center;
}

.network-title {
    padding-bottom: 10px;
}

.network-logo {
    margin: 7px;
    filter: drop-shadow(5px 5px 2px #777777);
}

.network-logo:hover {
    transform: scale(1.1, 1.1);
    filter: drop-shadow(7px 7px 2px #777777);
}

@keyframes network-logo-anim {
    from {
        transform: scale(0.7, 0.7);
        opacity: 0.3;
    }
    to {
        transform: scale(1, 1);
        opacity: 1.0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .network-logo-anim-trigger {
        animation-name: network-logo-anim;
        animation-duration: 1.0s;
        animation-iteration-count: 1;
    }
}