.desc-text p::first-letter {
    font-weight: bold;
    font-size: 1.2em;
    color: #0089b5;
}

.desc-text p {
    margin-bottom: 0.2em;
    margin-top: 0.5em;
}

.desc-text p:first-child {
    margin-top: 0;
}
