.desc-text {
    width: 100%;
}

.desc-text p::first-letter {
    font-weight: bold;
    font-size: 1.3em;
    color: #007499;
}

.desc-text p:first-child {
    margin-top: 0;
}

.desc-text p {
    /* animation start */
    opacity: 0.2;
}

@keyframes desc-text-p-anim {
    to {
        opacity: 1.0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .desc-text-p-anim-trigger {
        animation: desc-text-p-anim 1.5s 1;
        animation-fill-mode: forwards; /*leaves the animation in the state of the last frame */
    }
}