.network-container {
    text-align: center;
}

.network-title {
    padding-bottom: 10px;
}

.network-logo {
    margin: 7px;
    filter: drop-shadow(5px 5px 2px #777777);
}

.network-logo:hover {
    transform: scale(1.1, 1.1);
    filter: drop-shadow(7px 7px 2px #777777);
}

@keyframes logo-anim {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 0.0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1.0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .network-logo-animation {
        animation-name: logo-anim;
        animation-duration: 0.75s;
        animation-iteration-count: 1;
    }
}