<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>
        <div th:fragment="menu">
            <nav class="navbar sticky-top navbar-expand navbar-dark bg-primary">
                <ul class="navbar-nav mr-auto">
                    <li th:class="${pageId=='home'} ? 'nav-item active' : 'nav-item'">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li th:class="${pageId=='issues'} ? 'nav-item active' : 'nav-item'">
                        <a class="nav-link" href="/issues/list">Issues</a>
                    </li>
                    <li th:class="${pageId=='binaries'} ? 'nav-item active' : 'nav-item'">
                        <a class="nav-link" href="/binaries/info">Binaries</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" name="logout" value="true" class="btn btn-primary">Log out</button>
                    </form>
                </span>
            </nav>
            <br>
        </div>
    </body>
</html>