.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blog-preview {
    max-width: 600px;
    padding: 5px 12px;
    font-size: 1.0rem;
    background-color: #363649;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.blog-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.3em;
}

.blog-preview-main {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.blog-img {
    border-radius: 10px;
    border: 1px solid white;
}

.blog-metadata {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 1em;
}