<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Urchin Release Mgt: Binaries</title>

        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">

        <div th:replace="fragments/menu :: menu">&nbsp;</div>

        <h3>Download count</h3>
        <ul>
            <li th:each="downloadByVersionCount : ${downloadsByVersionCount}" th:text="'Download release v' + ${downloadByVersionCount.appVersion} + ': ' + ${downloadByVersionCount.count}"></li>
        </ul>

        <h3>Binaries files</h3>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th style="width: 80.00%">Filename</th>
                <th style="width: 10.00%">Size (MB)</th>
                <th style="width: 10.00%">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="binaryFileInfo : ${binaryFilesInfo}">
                <td th:text="${binaryFileInfo.fileName}" />
                <td th:text="${binaryFileInfo.fileSizeMB}" />
                <td>
                    <a th:href="@{|/binaries/download?filename=${binaryFileInfo.fileName}|}" th:download="${binaryFileInfo.fileName}">Download</a>
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>