<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="refresh" content="60" > <!-- refresh page every x seconds -->
        <title>Deer Vision: Home</title>

        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/Chart.min.js"></script>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        <div th:replace="fragments/menu :: menu"></div>

        <div class="d-flex flex-wrap" style="background-color: #2c3034;">
            <div class="homeCharts mr-auto">
                <canvas id="issuesChart"></canvas>
            </div>
            <div class="homeCharts mr-auto">
                <canvas id="binariesUsageChart"></canvas>
            </div>
        </div>

        <script th:inline="javascript">
            var issueChartLabels = /*[[${issueChartDates}]]*/ ['unknown'];
            var issueChartValues = /*[[${issueChartValues}]]*/ [0];
            new Chart(document.getElementById("issuesChart"), {
                type: 'bar',
                data: {
                    labels: issueChartLabels,
                    datasets: [{
                        data: issueChartValues,
                        label: "Issues",
                        backgroundColor: "#d07b00",
                        fill: true
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    animation: false,
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Number of issues'
                    }
                }
            });

            var binaryUsageChartLabels = /*[[${binaryUsageChartDates}]]*/ ['unknown'];
            var binaryUsageLinuxChartValues = /*[[${binaryUsageLinuxChartValues}]]*/ [0];
            var binaryUsageWindowsChartValues = /*[[${binaryUsageWindowsChartValues}]]*/ [0];
            var binaryUsageMacOsChartValues = /*[[${binaryUsageMacOsChartValues}]]*/ [0];
            new Chart(document.getElementById("binariesUsageChart"), {
                type: 'line',
                data: {
                    labels: binaryUsageChartLabels,
                    datasets: [{
                        data: binaryUsageLinuxChartValues,
                        label: "Linux",
                        borderColor: "#007bff",
                        fill: false,
                        lineTension: 0
                    },{
                        data: binaryUsageWindowsChartValues,
                        label: "Windows",
                        borderColor: "#ff007b",
                        fill: false,
                        lineTension: 0
                    },{
                        data: binaryUsageMacOsChartValues,
                        label: "Mac OS",
                        borderColor: "#7bd000",
                        fill: false,
                        lineTension: 0
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    animation: false,
                    legend: {
                        display: true
                    },
                    title: {
                        display: true,
                        text: 'Binaries usage'
                    }
                }
            });
        </script>
    </body>
</html>