<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Urchin Release Mgt: Issues</title>

        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">

        <div th:replace="fragments/menu :: menu">&nbsp;</div>

        <div th:utext="${#strings.replace( #strings.replace( #strings.escapeXml(issueValue), '&#10;', '&lt;br /&gt;'), '&#9;', '&nbsp;&nbsp;&nbsp;&nbsp;')}" style="background-color: #2c3034;"></div>
    </body>
</html>