<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Deer Vision: Home</title>

        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/Chart.min.js"></script>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        <div th:replace="fragments/menu :: menu">&nbsp;</div>

        <div tiles:fragment="content">
            <form name="f" th:action="@{/login}" method="post">
                <fieldset>
                    <div th:if="${param.error}" class="alert alert-danger">Invalid username and password.</div>
                    <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" class="form-control" id="username" autocapitalize="none" style="width:25%" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" autocapitalize="none" style="width:25%" placeholder="Password">
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>