.nav {
    background-color: rgba(80, 81, 89, 0.95);
    overflow: hidden; /* clear float property to display main content at the next line (https://css-tricks.com/all-about-floats/)  */
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-logo {
    float: left;
    padding-left: 6pc;
}

.nav-logo-text {
    float: left;
    padding: 20px 10px;
    font-weight: bold;
}

.nav-menu-ul {
    float: right; /* display menu links on the right */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu-link-container {
    float: left; /* display menu links horizontally */
}

.nav-spacing {
    float: right;
    padding-left: 13pc;
}

.nav-menu-link-container a:hover {
    background-color: #6a6a75;
}

.nav-logo-text, .nav-menu-link {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.nav-menu-link {
    padding: 20px 16px;
}

.nav-hamburger-icon {
    display: none;
    float: right;
    padding: 20px 12px;
    margin: 0;
}

.nav-hamburger-icon svg {
    display: block;
}

@media screen and (max-width: 800px) {
    .nav-logo {
        padding-left: 1px;
    }

    .nav-menu-ul {
        display: none;
        float: none;
    }

    .nav-menu-ul.responsive {
        display: block;
    }

    .nav-menu-link-container {
        float: none; /* display menu links vertically */
    }

    .nav-spacing {
        display: none;
    }

    .nav-hamburger-icon {
        display: block;
    }

    .nav-logo-and-hamburger {
        overflow: hidden; /* clear float property to display menu links at the next line (https://css-tricks.com/all-about-floats/) */
    }
}
