.nav {
    background-color: #cccccc;
    overflow: hidden; /* clear float to display main content at the next line (https://css-tricks.com/all-about-floats/)  */
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-logo {
    float: left;
    padding-top: 1px;
    padding-left: 10pc;
}

.nav-logo-text {
    float: left;
    padding: 22px 5px;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu-link-container {
    float: right; /* display menu links horizontally */
}

.nav-spacing {
    float: right; /* display menu links horizontally */
    padding-left: 10pc;
}

.nav-menu-link-container a:hover {
    background-color: #aaaaaa;
}

.nav-logo-text, .nav-menu-link {
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.nav-menu-link {
    padding: 22px 16px;
}

.nav-hamburger-icon {
    display: none;
    float: right;
    padding: 20px 16px;
}

@media screen and (max-width: 800px) {
    .nav-hamburger-icon {
        display: block;
    }

    .nav-menu-link-container {
        float: none; /* display menu links vertically */
    }

    .nav-spacing {
        display: none;
    }

    .nav-logo {
        padding-left: 1px;
    }

    .nav-logo-and-hamburger {
        overflow: hidden; /* clear float to display menu links at the next line (https://css-tricks.com/all-about-floats/) */
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.responsive {
        display: block;
    }
}
